*{
    margin: 0;
    padding: 0;
}

/* body section */

body{

}

/* header section */
.header-section{
    height: 90vh;
    background-color: rgb(248, 233, 233);
    padding: 50px 100px 0px 100px;
}

/* header container section */
.header-container{
    display: flex;
    /* header container content section  */
    .header-section-left{
        width: 50%;
        text-align: left;
    }

        /* header container flower section  */
    .header-section-right{
        width: 50%;
        text-align: left;

    }
}